!!!
.container
  %div.col-md-12.main
    .row
      %h1.title
        Error
    .row
      .col-md-12
        %h5 Something went wrong

!= js :jquery
!= js :jqueryplugin
!= js :bootstrap
!= js :bootstrap_table
