.navbar-static-top {
  margin-bottom: 19px;
}

.table th, .table td {
  border-top: none !important;
}

.label-yellow {
  background-color: #FFF176;
  color: black;
}

td.summary {
   -ms-word-break: break-all;
   word-break: break-all;

   /* Non standard for webkit */
   word-break: break-word;

   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}

span.supportconfig_index_head {
  font-weight: bold;
  font-size: 150%;
}

div.supportconfig_index_entry {
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}
